:root {
  background-color: rgb(25, 3, 103);
  font-family: 'Lato', sans-serif;

}

h1 {
  text-align: center;
  color: white;
}
h2 {
  margin: 5% 10% 0 10%;
  text-align: left;
  color: white;
}

.apps, .fbs, .bowls, .sandwiches, .desserts {
  display: flex;
  height: 200px;
  margin: 5% 10% 0 10%;
}

.menu-item{
  display: flex;
	align-items: center;
	justify-content: center;
  flex: 1 0 8%;
  background:#DDD;
  cursor:pointer;
  user-select: none;
  font-family: 'Lato', sans-serif;
  text-shadow:
  -.25px -.25px 0 #000,
  .25px -.25px 0 #000,
  -.25px .25px 0 #000,
  .25px .25px 0 #000;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 1);
}

div:active {
  box-shadow: 0 0 5px -1px  rgb(25, 3, 103);
}

.container {
  flex-flow: row wrap;
  display: flex;
  margin: 5% 25% 0 25%;
  padding: 0 5% 0 5%;
  height:20vh;
  font-size: 1.2rem;
  background-color: #DDD;
  overflow: scroll;
  font-family:'Courier New', Courier, monospace;
  text-align: center;

}

.order-item  {
  flex: 1 0 100%;

}

div#totaltxt {
  margin-left: auto;
}

@media (min-width: 320px) and (max-width: 480px) {
  .apps, .fbs, .bowls, .sandwiches, .desserts {
    display: flex;
    height: 200px;
    width: 300px;
    margin: 5% 10% 0 10%;
    flex-flow: row wrap;
  }
  .menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 30%;
    background:#DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor: pointer;
    user-select: none;

  }
}