:root {
  background-color: rgb(25, 3, 103);
  font-family: 'Lato', sans-serif;

}

h1 {
  text-align: center;
  color: white;
}
h2 {
  margin: 5% 0 0 10%;
  text-align: left;
  color: white;
}

div {
  font-family: 'Lato', sans-serif;
  text-shadow:
  -.25px -.25px 0 #000,
  .25px -.25px 0 #000,
  -.25px .25px 0 #000,
  .25px .25px 0 #000;
}
.apps, .fbs, .bowls, .sandwiches {
  display: flex;
  height: 200px;
  margin: 5% 10% 0 10%;
}

.app, .fb, .sandwich, .bowl, .menu-item {
  display: flex;
	align-items: center;
	justify-content: center;
  flex: 1 0 8%;
  background:#DDD;
  cursor:pointer;
  user-select: none;
}

div:active {
  box-shadow: 0 0 5px -1px  rgb(25, 3, 103);
}

@media (min-width: 320px) and (max-width: 480px) {
  .apps, .fbs, .bowls, .sandwiches {
    display: flex;
    height: 200px;
    margin: 5% 10% 0 10%;
    flex-flow: row wrap;
  }
  .app, .fb, .sandwich, .bowl {
    display: flex;
    align-items: space-between;
    justify-content: center;
    flex: 1 0 30%;
    background:#DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    user-select: none;
  }
}